body {
    background-color: #cad2c5;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #52796f;
    display: flex;
}

.robot__card {
    padding: 1rem;
    max-width: 25vw;
    margin: 2rem;
    background-color: #84a98c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.robot__card > div {
    padding: 0.25rem;
}

.robot__name {
    font-size: 2rem;
}

.robot__image__container {
    max-width: 10rem;
}

.robot__image {
    width: 100%;
    aspect-ratio: 0.9;
}

button {
    background-color: #2f3e46;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0.75rem 0.5rem;
    color: azure;
    cursor: pointer;
}
